/*
google  font

font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;


color
#043873
#FFE492
#4F9CF9

*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* basic css */
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #56585b;
    color: #FFFFFF;
    line-height: 1.7;
}
.theem-batton{
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

.theem-batton:hover{

color: #ffffff;
}
.theem-batton-two{
    display: inline-block;
    background: #FFE492;
    border-radius: 8px;
    padding: 16px 24px !important;
    color: #043873 !important;
   
}

.theem-batton-three{
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #FFE492;
    border-radius: 8px;
    padding: 16px 24px !important;
    color: #043873 !important;
    text-decoration: none;
}

.theem-text h3{
    font-size: 70px;
    color: #212529;
}

.theem-text p{
    
    color: #212529;
}
.theem-text h3 span{
    position: relative;
    z-index: 2;
}
.theem-text h3 span::after{
    position: absolute;
   content: ""; 
   width: 100%;
   height: 65px;
   left: 0;
  
   bottom: 0;
   z-index: -1;
   background-image: url(img/elemen.png);
}


@media (max-width: 991px){
    .theem-text{
        text-align: center;
        
    }
    .theem-text h3{
        font-size: 36px ;
    }
}



/* header area css */
.header-area{
    background-color: #043873;
    padding: 16px 0;
}
.header-area .nav-link{
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 16px 24px !important;
}
.theem-batton img{
    margin-left: 15px;
}
.header-area .navbar-toggler{
border: none;
box-shadow: none;
}

.header-area .theem-batton{
    margin-left: 24px;
}
.header-area .theem-batton-two{
    margin-left: 24px;
}

.dropdown-menu{
    background-color: #043873;
}

.dropdown-item{
   margin-bottom: 2px;
    background-color: #C4DEFD;
}

@media (max-width: 991px){
    .theem-batton{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
    }
    .theem-batton-two{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
    }
    .header-area .nav-link{
        
        padding: 16px 0 !important;}

        .header-area .nav-link{
            position: relative;
        }
        .header-area .nav-link::after {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);

        }

        .header-area .theem-batton{
            margin-left: 0;
        }
        .header-area .theem-batton-two{
            margin-left: 0;}
        
    
}

/* hero area css */

.hero-area{
    padding: 140px 0;
    background-image: url(img/Hero-bg.png);
    background-size: cover;
    background-position: center;
}

.hero-text h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 77px;
}


.hero-area .theem-batton{
    margin-top: 30px;
}

@media (max-width: 991px){

    .hero-area{
        padding: 80px 0;
    }
    .hero-text{
        text-align: center;
    }

    .hero-text h3{
        font-size: 36px;
    }

    .hero-area .theem-batton{
        margin-bottom: 50px;
}

}

/* start managment area css */

.managment-area{
    background-color: #ffffff;
    padding: 140px 0;
}

.work-managment{
    margin-top: 100px;
}


@media (max-width: 991px){
   .theem-batton{
    margin-bottom: 25px;
   }

   .managment-area{
    padding: 80px 0;
}

.work-managment{
    margin-top: 60px;
}
}

/* extension area css */
.extension-area{
    padding: 140px 0;
    background-color: #043873;
}
.extension-area .theem-text h3{
    
    color: #ffffff;
}

.extension-area .theem-text p{
    
    color: #ffffff;
}

@media (max-width: 991px){
    .extension-area{
        padding: 80px 0;
       
    }
}

/* start customise area css */
.customise-area{
    background-color: #ffffff;
    padding: 140px 0;
}

@media (max-width: 991px){
    .customise-area{
       
        padding: 80px 0;
    }
}

/* pricing-area css */
.pricing-area{
    padding: 140px 0;
    background-color: #ffffff;
}
.pricing-area .theem-text{
margin-bottom: 60px;
}

.single-pricing{
    color: #212529;
    border: 1px solid #FFE492;
    border-radius: 10px;
    padding: 40px 44px;
}

.single-pricing h4{
    font-size: 24px;
    font-weight: 500;
}
.single-pricing h2{
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0;
}

.single-pricing ul{
    margin: 0;
    padding: 0;
    margin: 25px 0;
}
.single-pricing ul li{
    list-style: none;
    margin-bottom: 28px;
}
.single-pricing ul li :last-child{
    margin: 0;
}

.special-pricing{
    padding: 80px 40px;
    background-color: #043873;
    color: #ffffff;
}

.special-pricing h2{
    color: #FFE492;
}
@media (max-width: 991px){
    .pricing-area{
       padding: 80px;
       
    }
    .single-pricing{
        margin-bottom: 30px ;
        
     }
}
/* work area css */
.work-area{
    padding: 140px 0;
    background-color: #043873;
}

.work-area .theem-text h3{
    color: #ffffff;
}
.work-area .theem-text p{
    color: #ffffff;
}

@media (max-width: 991px){
    .work-area{
        padding: 80px 0 ;
    }
}
/* data area css */
.data-area{
   padding: 140px 0; 
   background-color: #ffffff;
}

@media (max-width: 991px){
    .data-area{
        padding: 80px 0 ;
    }
}
/* sponsors area css */
.sponsors-area{
    padding: 140px 0;
    background-color: #ffffff;
}

.sponsors-area .theem-text{
    margin-bottom: 80px;
}

.single-sponsors img{
    height: 55px ;
    width: auto;
}

@media (max-width: 991px){
    .sponsors-area{
        padding-top: 80px;
        padding-bottom: 30px;

    }

    .single-sponsors{
        margin-bottom: 50px;
    }

   
}

/* start app area css */
.app-area{
    padding: 140px 0;
    background-image: url(img/apps-bg.png);
    background-position:center ;
    background-size: cover;
}
    
    .app-area .theem-text h3{
        color: #ffffff;
    }

    .app-area .theem-text p{
        color: #ffffff;
    }

    
    @media (max-width: 991px){
        .app-area{
            padding-top: 80px 0;
            
    
        }
    
        .app-imag{
            margin-bottom: 50px;
        }
    
       
    }

    /* testimonial-area css */
    .testimonial-area{
        padding: 140px 0;
        background-color: #ffffff;

    }
    .testimonial-area .theem-text{
        margin-bottom: 50px;
    }

    .single-testimonial{
        background-color: #4F9CF9;
        box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1)
        ;
        border-radius: 10px;
        padding: 55px 35px;
        color: #212529;
    }
    .testimonial-text{
        border-bottom: 1px solid #212529 ;
    }

    .testimonial-text img{
       margin-bottom: 30px; 
       height: 60px;
       width: auto !important;
    }

    .testimonial-text p{
        margin-bottom: 25px;
        color: #ffffff;
    }
    .testimonial-author{
        margin-top: 40px;
        display: flex;
    }
    .author-img{
        margin-right: 30px ;
    }
    .author-text h3{
        font-size: 22px ;
        color: #043873;
    }
    .author-text p{
        margin-bottom: 0;
        color: #ffffff;
    }
    .testimonial-area .owl-dots button{
    height: 15px;
    width: 15px;
    background-color: #4F9CF9 !important;
    border-radius: 50%;
    margin:0 5px ;


}
.testimonial-area .owl-dots button.active{
    background-color: #043873 !important;
}

.testimonial-area .owl-dots {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 991px){
    .testimonial-area{
        padding: 80px 0;
    }
}
